body {
    height: 100%;
    font-family: Arial;
}
.bg {
    /* The image used */
    background-image: url("../assets/bgimage.jpg");
    /* Full height */
    height: 1000px;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}

div {
    width: 100%;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
.courseContent {
    width: 80vw;
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
}
.writeup {
    display: flex;
    width: 60vw;
}
img {
    object-fit: scale-down;
    width: 15vw;
    display: flex;
}
button:hover {
    color: green;
}