<body class="bg">
  <title>CSF Registration Form</title>
  <mat-toolbar color="accent">
    <span>CSF Registration</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/']">home</mat-icon>
    </button>
  </mat-toolbar>
  <div fxLayout="column row" fxLayoutAlign="center center">
    <div class="courseContent" fxLayout="row column" fxLayoutAlign="start center">
      <img src='assets/iss.png'>
      <p style="text-align: center" class="writeup">
        Client Side Foundation: In this course, you will learn about the core Angular’s concepts, like modules,
        components, directives, attributes and event bindings, forms. 
      </p>
    </div>
    <router-outlet></router-outlet>
  </div>
</body>